<div class="main-container">
  <mat-toolbar color="primary" class="topbar telative landing">
    <div class="navbar-header"> 
      <a class="navbar-brand" href="index.html">
        <img src="assets/images/sprout_white.svg" alt="homepage" class="logo">
        My Garden 
      </a>
    </div>

    <public-header></public-header>
  </mat-toolbar>

  <section class="hero-section">
    <div class="main">
      <h1>Test Garden Application</h1>
    </div>
    <div class="bottom"></div>
  </section>
<!--   <div class="page-content">
    <div class="gradient-background"></div>
    <div></div>

  </div> -->
</div>
