<div class="main-container"> 
  <mat-toolbar color="primary" class="topbar telative">
    <div class="navbar-header"> My Garden </div>

    <button mat-icon-button aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>

    <app-header></app-header>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav id="snav" mode="side" opened>    
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="page-wrapper">                 
      <div class="page-content"> Page content </div>               
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>