<!-- <div class="main-container">
  <app-header></app-header>
  <router-outlet></router-outlet>

  <mat-sidenav-container class="garden-sidebar">
    <mat-sidenav mode="side" opened>
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>Main</mat-sidenav-content>
  </mat-sidenav-container>
</div> -->

<div class="main-container"> 
    <mat-toolbar color="primary" class="topbar telative">
        <div class="navbar-header">
          Header
<!--             <a class="navbar-brand" href="index.html">
                <b>  <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo">  </b>
                <span fxShow="false" fxShow.gt-xs>
                 <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo">
                 <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage">
                </span> </a> -->
        </div>
        
        <button>toggle </button>
        <!-- <span fxFlex></span> -->
        <app-header></app-header>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav id="snav" mode="side" opened>
            
                <app-sidebar></app-sidebar>
               
            
        </mat-sidenav>

        <mat-sidenav-content class="page-wrapper">                 
                <div class="page-content"> Page content </div>               
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>