<!-- <div class="main-container">
  <mat-toolbar color="primary" class="topbar telative">
    <div class="navbar-header"> 
      <a class="navbar-brand" href="index.html">
        <img src="assets/images/sprout_white.svg" alt="homepage" class="logo">
        My Garden 
      </a>
    </div>

    <button mat-icon-button aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>

    <public-header></public-header>
  </mat-toolbar>

  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</div>
 -->
 <router-outlet></router-outlet>