$mat-emerald: (
  50: #C0E1D7,
  100: #ABD7CA,
  200: #82C4B0,
  300: #6DBAA3,
  400: #43A689,
  500: #2E9C7C,
  600: #1A936F,
  700: #188665,
  800: #16795B,
  900: #136B51,
  A100: #d7ccc8,
  A200: #bcaaa4,
  A400: #8d6e63,
  A700: #5d4037,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-midnight: (
  50: #D3DEE1,
  100: #A8BDC4,
  200: #92ADB6,
  300: #7D9CA7,
  400: #678C99,
  500: #517C8A,
  600: #114B5F,
  700: #104557,
  800: #0E3E4E,
  900: #0D3746,
  A100: #d7ccc8, 
  A200: #bcaaa4,
  A400: #8d6e63,
  A700: #5d4037,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-carmine: (
  50: #FAE0DC,
  100: #F8D1CA,
  200: #F6C1B9,
  300: #F4B2A8,
  400: #F09485,
  500: #EE8474,
  600: #E85740,
  700: #D3503B,
  800: #BE4835,
  900: #A9402F,
  A100: #d7ccc8, 
  A200: #bcaaa4,
  A400: #8d6e63,
  A700: #5d4037,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);